* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    margin: 0%;
    padding: 0px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(39,124,224,1) 100%);
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: medium;
}
h1 {
    margin: 30px 0 30px 0;
    text-align: center;
}
nav {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(39,124,224,1) 100%);
    top: 0%;
    position: sticky;
    display: flex;
    width: 100%;
    height: 50px;
    font-size: small;
    border-bottom: solid 2px rgb(241, 73, 7);
    box-shadow: 10px 5px 5px blue;
}
nav img {
    display: flex;
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
    width: 80px;
    height: 35px;
    object-fit: cover;
}
li {
    display: flex;
    flex-direction: row;
}
a {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    padding: 5px;
}
a:hover {
    color: white;
    border: groove 3px rgb(241, 73, 7);
    border-radius: 15px;
    font-weight: bold;
}
.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 250px;
    background-image: url(https://a-static.besthdwallpaper.com/impresionantes-vistas-de-la-ciudad-en-la-noche-papel-pintado-2560x720-11988_72.jpg);
    background-attachment: fixed;
    background-position:;
}
div {
    border-color: black;
}
p {
    color: white;
}
.container {
    padding: 20px 0 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-around;
}
div img {
    margin: 10px 10px 10px 10px;
    padding: 5px;
    border: 3px solid rgb(163, 231, 252);
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 7px;
}
div img:hover { 
    border: 3px solid rgb(45, 111, 252);
}

.foto img {
    border-radius: 50%;
}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    font-size: x-large;
    background-color: teal;
    border-top: solid 2px rgb(241, 73, 7);
}
footer img {
    border: solid 1px teal;
    display: flex;
    margin-right: 8px;
    width: 80px;
    height: 35px;
    object-fit: cover;
}
::-webkit-scrollbar {
    display: none;
}
@media (max-width: 740px) {
    nav img {
    position: absolute;
    right: 50%;
    }
    nav ul {
        display: none;
    }
    .container {
        grid-template-columns: 1fr 1fr;
    }
}